a {
  text-decoration: none;
}
button {
  padding: 0;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #2f2f2f;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
